<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
	<Elements>
		<Segment name="511" info="Interchange Header">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Customer Number" />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Supplier Number" />
			<Data name="05" type="decimal" minLength="0" maxLength="5" info="Transmission Number Old" />
			<Data name="06" type="decimal" minLength="0" maxLength="5" info="Transmission Number New" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Transmission date" />
			<Data name="08" type="string" minLength="0" maxLength="6" info="Date Set to zero number" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="83" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="512" info="Data of Delivery Call-Off">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="3" info="Plant-Customer" />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Delivery Call-Off Number New" />
			<Data name="05" type="string" minLength="0" maxLength="6" info="Delivery Call-Off Date New" />
			<Data name="06" type="string" minLength="0" maxLength="9" info="Delivery Call-Off Number Old" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Delivery Call-Off Date Old" />
			<Data name="08" type="string" minLength="0" maxLength="22" info="Part Number Customer" />
			<Data name="09" type="string" minLength="0" maxLength="22" info="Part Number Supplier" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="12" info="Contract/ Order Number" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="5" info="Point of Unloading" />
			<Data name="12" type="string" minLength="0" maxLength="4" info="Customer Ref." />
			<Data name="13" type="string" minLength="0" maxLength="2" info="Unit of Quantity" />
			<Data name="14" type="string" minLength="0" maxLength="1" info="Delivery Interval" />
			<Data name="15" type="decimal" minLength="0" maxLength="1" info="Manufacturing Release" minOccurs="0" />
			<Data name="16" type="decimal" minLength="0" maxLength="1" info="Material Release" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="1" info="Using Code" />
			<Data name="18" type="string" minLength="0" maxLength="7" info="Accounting code" minOccurs="0" />
			<Data name="19" type="string" minLength="0" maxLength="7" info="Store" minOccurs="0" />
			<Data name="20" type="string" minLength="0" maxLength="5" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="513" info="Reconciliation &amp; Call-Off Data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="6" info="Date of Registration Last Receipt" />
			<Data name="04" type="decimal" minLength="0" maxLength="8" info="Delivery Note Number Last Receipt" />
			<Data name="05" type="string" minLength="0" maxLength="6" info="Delivery Note Date Last Receipt" />
			<Data name="06" type="decimal" minLength="0" maxLength="12" implicitDecimals="3" info="Quantity Last Receipt" />
			<Data name="07" type="decimal" minLength="0" maxLength="10" info="Receipt Progress Number" />
			<Data name="08" type="string" minLength="0" maxLength="6" info="Call-Off Date 1" />
			<Data name="09" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity 1" />
			<Data name="10" type="string" minLength="0" maxLength="6" info="Call-Off Date 2" minOccurs="0" />
			<Data name="11" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity 2" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="6" info="Call-Off Date 3" minOccurs="0" />
			<Data name="13" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity 3" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="6" info="Call-Off Date 4" minOccurs="0" />
			<Data name="15" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity 4" minOccurs="0" />
			<Data name="16" type="string" minLength="0" maxLength="6" info="Call-Off Date 5" minOccurs="0" />
			<Data name="17" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity 5" minOccurs="0" />
			<Data name="18" type="string" minLength="0" maxLength="6" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="514" info="Additional Call-Off Data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="6" info="Call-Off-Date 6" />
			<Data name="04" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 6" />
			<Data name="05" type="string" minLength="0" maxLength="6" info="Call-Off-Date 7" minOccurs="0" />
			<Data name="06" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 7" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Call-Off-Date 8" minOccurs="0" />
			<Data name="08" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 8" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="6" info="Call-Off-Date 9" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 9" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="6" info="Call-Off-Date 10" minOccurs="0" />
			<Data name="12" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 10" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="6" info="Call-Off-Date 11" minOccurs="0" />
			<Data name="14" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 11" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="6" info="Call-Off-Date 12" minOccurs="0" />
			<Data name="16" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 12" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="6" info="Call-Off-Date 13" minOccurs="0" />
			<Data name="18" type="decimal" minLength="0" maxLength="9" info="Call-Off-Quantity 13" minOccurs="0" />
			<Data name="19" type="string" minLength="0" maxLength="3" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="515" info="Complementary Delivery Call-Off Data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="6" info="Manufacturing release, starting date" minOccurs="0" />
			<Data name="04" type="string" minLength="0" maxLength="6" info="Manufacturing release, final date" minOccurs="0" />
			<Data name="05" type="decimal" minLength="0" maxLength="10" info="Manufacturing release, cumulated requirements" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Material release, starting date" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Material release, final date" minOccurs="0" />
			<Data name="08" type="decimal" minLength="0" maxLength="10" info="Material release, cumulated requirements" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="22" info="Completing article code" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="9" info="Intermediate supplier" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="6" info="Date planning horizon" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="14" info="Point of consumption" minOccurs="0" />
			<Data name="13" type="decimal" minLength="0" maxLength="10" info="Cumulative figure, achieved at zero position" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="18" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="517" info="Packaging Data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="22" info="Part Number Customer for Packaging Material" />
			<Data name="04" type="string" minLength="0" maxLength="22" info="Part Number Supplier for Packaging Material" minOccurs="0" />
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Volumetric Capacity" />
			<Data name="06" type="string" minLength="0" maxLength="72" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="518" info="Text Data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="40" info="Delivery Schedule Text 1" />
			<Data name="04" type="string" minLength="0" maxLength="40" info="Delivery Schedule Text 2" minOccurs="0" />
			<Data name="05" type="string" minLength="0" maxLength="40" info="Delivery Schedule Text 3" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="3" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="519" info="Interchange Trailer">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="02"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 511">
				<Rule>
					<Expression>
						<Count>
							<Reference name="511" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 512">
				<Rule>
					<Expression>
						<Count>
							<Reference name="512" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 513">
				<Rule>
					<Expression>
						<Count>
							<Reference name="513" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="06" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 514">
				<Rule>
					<Expression>
						<Count>
							<Reference name="514" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="07" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 517">
				<Rule>
					<Expression>
						<Count>
							<Reference name="517" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="08" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 518">
				<Rule>
					<Expression>
						<Count>
							<Reference name="518" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="09" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 519">
				<Rule>
					<Expression>
						<Count>
							<Reference name="519" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="10" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 515">
				<Rule>
					<Expression>
						<Count>
							<Reference name="515" nodeStarts="Message_4905"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="11" type="string" minLength="0" maxLength="67" info="Empty" maxOccurs="0" />
		</Segment>
	</Elements>
	<Message>
		<MessageType>4905</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4905" minOccurs="1" maxOccurs="1">
			<Segment ref="511" minOccurs="1" />
			<Group name="SG_512" minOccurs="1" maxOccurs="unbounded">
				<Segment ref="512" minOccurs="1" />
				<Group name="SG_513" minOccurs="1" maxOccurs="unbounded">
					<Segment ref="513" minOccurs="1" />
					<Segment ref="514" maxOccurs="unbounded" />
					<Segment ref="515" minOccurs="0"/>
					<Segment ref="517" minOccurs="0"/>
					<Segment ref="518" minOccurs="0"/>
				</Group>
			</Group>
			<Segment ref="519" minOccurs="1" />
		</Group>
	</Message>
</Config>