<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
	<Elements>
		<Segment name="911" info="Interchange header">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Customer number" />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Supplier number" />
			<Data name="05" type="decimal" minLength="0" maxLength="5" info="Transmission number old" />
			<Data name="06" type="decimal" minLength="0" maxLength="5" info="Transmission number new" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Transmission date" />
			<Data name="08" type="string" minLength="0" maxLength="6" info="Payment date" />
			<Data name="09" type="string" minLength="0" maxLength="8" info="Remittance advice number" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="75" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="912" info="Remittance advice data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version number">
				<Rule>
					<Expression>
						<Constant value="02"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="8" info="Delivery note number" minOccurs="0" />
			<Data name="04" type="decimal" minLength="0" maxLength="2" info="Type of voucher" />
			<Data name="05" type="string" minLength="0" maxLength="8" info="Invoice number (** Self-billing invoice number)" />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Invoice date (** Self-billing invoice date)" />
			<Data name="07" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Invoice amount (** Self-billing invoice amount)" />
			<Data name="08" type="decimal" minLength="0" maxLength="1" info="Sign code" />
			<Data name="09" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Cash discount amount" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="8" info="Internal document number" minOccurs="0" />
			<Data name="11" type="decimal" minLength="0" maxLength="3" info="Currency unit" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="6" info="Remittance advice Number" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="3" info="Plant customer" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="17" info="Long invoice number (** Long Self-billing invoice number)" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="35" info="Text information" minOccurs="0" />
		</Segment>
		<Segment name="919" info="Interchange trailer">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version number">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="7" info="Counter record type 911">
				<Rule>
					<Expression>
						<Count>
							<Reference name="911" nodeStarts="Message_4907"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="decimal" minLength="0" maxLength="7" info="Counter record type 912">
				<Rule>
					<Expression>
						<Count>
							<Reference name="912" nodeStarts="Message_4907"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Counter record type 919">
				<Rule>
					<Expression>
						<Count>
							<Reference name="919" nodeStarts="Message_4907"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="06" type="decimal" minLength="0" maxLength="1" info="Method of payment" />
			<Data name="07" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Total payment amount" />
			<Data name="08" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Total cash discount amount" />
			<Data name="09" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Total invoice amount" />
			<Data name="10" type="string" minLength="0" maxLength="62" info="Empty" maxOccurs="0" />
		</Segment>
	</Elements>
	<Message>
		<MessageType>4907</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4907" minOccurs="1" maxOccurs="1">
			<Group name="SG_911" minOccurs="1">
				<Segment ref="911" minOccurs="1" />
				<Segment ref="912" minOccurs="1" maxOccurs="unbounded" />
			</Group>
			<Segment ref="919" minOccurs="1" />
		</Group>
	</Message>
</Config>