<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
	<Elements>
		<Segment name="821" info="Purpose of credit note data">
			<Data name="F02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F03" type="string" minLength="0" maxLength="9" info="Customer no." />
			<Data name="F04" type="string" minLength="0" maxLength="9" info="Supplier no." />
			<Data name="F05" type="decimal" minLength="0" maxLength="5" info="Transfer no. - OLD" />
			<Data name="F06" type="decimal" minLength="0" maxLength="5" info="Transfer no. - NEW" />
			<Data name="F07" type="string" minLength="0" maxLength="6" info="Transfer date" />
			<Data name="F08" type="string" minLength="0" maxLength="20" info="Sales tax identification no. Recipient of goods" minOccurs="0" />
			<Data name="F09" type="string" minLength="0" maxLength="20" info="Sales tax identification no. Supplier of goods" minOccurs="0" />
			<Data name="F10" type="string" minLength="0" maxLength="25" info="Company registration no." minOccurs="0" />
			<Data name="F11" type="string" minLength="0" maxLength="24" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="822" info="Unique data element of credit note">
			<Data name="F02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F03" type="string" minLength="0" maxLength="8" info="Credit note no." />
			<Data name="F04" type="string" minLength="0" maxLength="6" info="Credit note date" />
			<Data name="F05" type="string" minLength="0" maxLength="6" info="Settlement date" />
			<Data name="F06" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Surcharges/Discounts" minOccurs="0" />
			<Data name="F07" type="decimal" minLength="0" maxLength="1" info="Prefix key">
				<Rule>
					<Expression>
						<Constant value="1"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F08" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sum of discounts" />
			<Data name="F09" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sum of sales tax" />
			<Data name="F10" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sum of credit notes - Final figure (not discounted)" />
			<Data name="F11" type="decimal" minLength="0" maxLength="1" info="Prefix key">
				<Rule>
					<Expression>
						<Constant value="1"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F12" type="string" minLength="0" maxLength="3" info="Currency" />
			<Data name="F13" type="string" minLength="0" maxLength="14" info="Delivery designation" minOccurs="0" />
			<Data name="F14" type="decimal" minLength="0" maxLength="1" info="Credit note key">
				<Rule>
					<Expression>
						<Constant value="0"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F15" type="string" minLength="0" maxLength="2" info="Country key" minOccurs="0" />
			<Data name="F16" type="decimal" minLength="0" maxLength="8" info="Creditor posting no." minOccurs="0" />
			<Data name="F17" type="string" minLength="0" maxLength="21" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="823" info="Unique data element of delivery note/document">
			<Data name="F02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F03" type="string" minLength="0" maxLength="8" info="Delivery note no." />
			<Data name="F04" type="string" minLength="0" maxLength="3" info="Factory customer" />
			<Data name="F05" type="string" minLength="0" maxLength="6" info="Shipping date" />
			<Data name="F06" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sum of surcharges/discount s" minOccurs="0" />
			<Data name="F07" type="decimal" minLength="0" maxLength="1" info="Prefix key">
				<Rule>
					<Expression>
						<Constant value="1"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F08" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Discount amount" />
			<Data name="F09" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sales tax amount" />
			<Data name="F10" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Delivery note &#1074;&#1026;&#8220; Final figure (not discounted)" />
			<Data name="F11" type="decimal" minLength="0" maxLength="1" info="Prefix key">
				<Rule>
					<Expression>
						<Constant value="1"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F12" type="string" minLength="0" maxLength="12" info="Closing order no." minOccurs="0" />
			<Data name="F13" type="string" minLength="0" maxLength="5" info="Place of unloading" minOccurs="0" />
			<Data name="F14" type="string" minLength="0" maxLength="8" info="Posting delivery no." minOccurs="0" />
			<Data name="F15" type="string" minLength="0" maxLength="6" info="Incoming goods date" minOccurs="0" />
			<Data name="F16" type="string" minLength="0" maxLength="15" info="Contact person Customer" minOccurs="0" />
			<Data name="F17" type="string" minLength="0" maxLength="6" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="824" info="Individual item data of delivery note/document">
			<Data name="F02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F03" type="decimal" minLength="0" maxLength="2" info="Action key" />
			<Data name="F04" type="string" minLength="0" maxLength="22" info="Case no. - Customer" />
			<Data name="F05" type="decimal" minLength="0" maxLength="13" implicitDecimals="3" info="Delivered quantity" />
			<Data name="F06" type="string" minLength="0" maxLength="3" info="Unit of quantity" />
			<Data name="F07" type="decimal" minLength="0" maxLength="2" info="Price unit" />
			<Data name="F08" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Unit price" />
			<Data name="F09" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Total price including surcharges/discount s" />
			<Data name="F10" type="decimal" minLength="0" maxLength="1" info="Prefix key" />
			<Data name="F11" type="decimal" minLength="0" maxLength="3" implicitDecimals="2" info="Discount percentage rate" minOccurs="0" />
			<Data name="F12" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Discount amount" minOccurs="0" />
			<Data name="F13" type="decimal" minLength="0" maxLength="4" implicitDecimals="2" info="Sales tax rate" />
			<Data name="F14" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sales tax amount (not discounted)" />
			<Data name="F15" type="string" minLength="0" maxLength="14" info="Test report no. - Customer (Miele order no.)" minOccurs="0" />
			<Data name="F16" type="string" minLength="0" maxLength="5" info="Empty" maxOccurs="0" />
			<Data name="F17" type="string" minLength="0" maxLength="2" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="829" info="Subsequent credit note data">
			<Data name="F02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="F03" type="decimal" minLength="0" maxLength="7" info="Counter SAA 821">
				<Rule>
					<Expression>
						<Count>
							<Reference name="821" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F04" type="decimal" minLength="0" maxLength="7" info="Counter SAA 822">
				<Rule>
					<Expression>
						<Count>
							<Reference name="822" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F05" type="decimal" minLength="0" maxLength="7" info="Counter SAA 823">
				<Rule>
					<Expression>
						<Count>
							<Reference name="823" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F06" type="decimal" minLength="0" maxLength="7" info="Counter SAA 824">
				<Rule>
					<Expression>
						<Count>
							<Reference name="824" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F07" type="decimal" minLength="0" maxLength="7" info="Counter SAA 825">
				<Rule>
					<Expression>
						<Count>
							<Reference name="825" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F08" type="decimal" minLength="0" maxLength="7" info="Counter SAA 826">
				<Rule>
					<Expression>
						<Count>
							<Reference name="826" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F09" type="decimal" minLength="0" maxLength="7" info="Counter SAA 827">
				<Rule>
					<Expression>
						<Count>
							<Reference name="827" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F10" type="decimal" minLength="0" maxLength="7" info="Counter SAA 829">
				<Rule>
					<Expression>
						<Count>
							<Reference name="829" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F11" type="decimal" minLength="0" maxLength="7" info="Counter SAA 828">
				<Rule>
					<Expression>
						<Count>
							<Reference name="828" nodeStarts="Message_4908"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="F12" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Total Sales tax amount" />
			<Data name="F13" type="decimal" minLength="0" maxLength="13" implicitDecimals="2" info="Sum of payment final figures (not discounted)" />
			<Data name="F14" type="decimal" minLength="0" maxLength="1" info="Prefix key" />
			<Data name="F15" type="decimal" minLength="0" maxLength="1" info="Payment method" />
			<Data name="F16" type="string" minLength="0" maxLength="32" info="Empty" maxOccurs="0" />
		</Segment>
	</Elements>
	<Message>
		<MessageType>4908</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4908" minOccurs="1" maxOccurs="1">
			<Group name="SG_821">
				<Segment ref="821" minOccurs="1" />
				<Group name="SG_822">
					<Segment ref="822" minOccurs="1" />
					<Group name="SG_823">
						<Segment ref="823" minOccurs="1" />
						<Group name="SG_824">
							<Segment ref="824" minOccurs="1" />
						</Group>
					</Group>
				</Group>
			</Group>
			<Segment ref="829" />
		</Group>
	</Message>
</Config>