<?xml version="1.0" encoding="UTF-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
		<Segment name="711" info="Interchange header">
			<Data name="02" type="decimal" minLength="2" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Data &#1074;&#1026;&#8220; receiver no." />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Data &#1074;&#1026;&#8220; sender no." />
			<Data name="05" type="decimal" minLength="0" maxLength="5" info="Old transmission no." />
			<Data name="06" type="decimal" minLength="0" maxLength="5" info="New transmission no." />
			<Data name="07" type="decimal" minLength="0" maxLength="6" info="Transmission data" />
			<Data name="08" type="string" minLength="0" maxLength="9" info="Sub-supplier no." minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="9" info="Carrier no." minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="1" info="Key to stockist" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="1" info="Delivery code" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="69" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="712" info="Data of transport">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="8" info="Shipment load reference no." />
			<Data name="04" type="string" minLength="0" maxLength="3" info="Plant supplier" minOccurs="0" />
			<Data name="05" type="string" minLength="0" maxLength="14" info="Carrier no." />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Carrier transfer - date" />
			<Data name="07" type="decimal" minLength="0" maxLength="4" info="Carrier transfer-time" />
			<Data name="08" type="decimal" minLength="0" maxLength="7" info="Shipment weight gross" />
			<Data name="09" type="decimal" minLength="0" maxLength="7" info="Shipment weight net" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="2" info="Pre-payment of charges key" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="1" info="Carrier transmission key" minOccurs="0" />
			<Data name="12" type="decimal" minLength="0" maxLength="4" info="Number of packages" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="14" info="Transport partner identification" minOccurs="0" />
			<Data name="14" type="decimal" minLength="0" maxLength="2" info="Key to means of transport" />
			<Data name="15" type="string" minLength="0" maxLength="25" info="Means of transport no." />
			<Data name="16" type="string" minLength="0" maxLength="1" info="Code for item 17" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="8" info="Content in accordance with item 16" minOccurs="0" />
			<Data name="18" type="string" minLength="0" maxLength="6" info="Target arrival date" minOccurs="0" />
			<Data name="19" type="decimal" minLength="0" maxLength="4" info="Target arrival time" minOccurs="0" />
			<Data name="20" type="decimal" minLength="0" maxLength="3" implicitDecimals="1" info="Load metre" minOccurs="0" />
			<Data name="21" type="decimal" minLength="0" maxLength="1" info="Truck type code" minOccurs="0" />
			<Data name="22" type="string" minLength="0" maxLength="3" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="713" info="Despatch note data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="8" info="Delivery note no." />
			<Data name="04" type="string" minLength="0" maxLength="6" info="Despatch date" />
			<Data name="05" type="string" minLength="0" maxLength="5" info="Point of unloading" />
			<Data name="06" type="decimal" minLength="0" maxLength="2" info="Despatch type" />
			<Data name="07" type="string" minLength="0" maxLength="4" info="Customer reference" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="12" info="Contract/order no." minOccurs="0" />
			<Data name="09" type="decimal" minLength="0" maxLength="2" info="Process code" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="4" info="Empty 1" />
			<Data name="11" type="string" minLength="0" maxLength="3" info="Customer plant" />
			<Data name="12" type="decimal" minLength="0" maxLength="8" info="Consignment" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="9" info="Consignee" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="1" info="Empty 2" />
			<Data name="15" type="string" minLength="0" maxLength="7" info="Customer storage location" minOccurs="0" />
			<Data name="16" type="string" minLength="0" maxLength="9" info="Supplier no." />
			<Data name="17" type="string" minLength="0" maxLength="14" info="Point of assembling" minOccurs="0" />
			<Data name="18" type="string" minLength="0" maxLength="4" info="Delivery schedule no." minOccurs="0" />
			<Data name="19" type="string" minLength="0" maxLength="6" info="Customer reference" minOccurs="0" />
			<Data name="20" type="string" minLength="0" maxLength="14" info="Customer document number" minOccurs="0" />
			<Data name="21" type="string" minLength="0" maxLength="5" info="Empty 3" />
		</Segment>
		<Segment name="714" info="Article data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="22" info="Customer part- number" />
			<Data name="04" type="string" minLength="0" maxLength="22" info="Supplier part-number" />
			<Data name="05" type="decimal" minLength="0" maxLength="3" info="Country of origin" />
			<Data name="06" type="decimal" minLength="0" maxLength="13" implicitDecimals="3" info="Delivery quantity 1" />
			<Data name="07" type="string" minLength="0" maxLength="2" info="Unit of quantity 1" />
			<Data name="08" type="decimal" minLength="0" maxLength="13" implicitDecimals="3" info="Delivery quantity 2" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="2" info="Unit of quantity 2" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="3" implicitDecimals="1" info="VAT rate" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="1" info="Empty 1" />
			<Data name="12" type="decimal" minLength="0" maxLength="3" info="Delivery note item number" />
			<Data name="13" type="string" minLength="0" maxLength="1" info="Delivery sched. key" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="15" info="Batch number Key" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="1" info="Code usage" />
			<Data name="16" type="string" minLength="0" maxLength="8" info="Hazardous substances code" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="1" info="Preference status" />
			<Data name="18" type="string" minLength="0" maxLength="1" info="Dutiable goods" />
			<Data name="19" type="string" minLength="0" maxLength="1" info="Empty 2" />
			<Data name="20" type="string" minLength="0" maxLength="1" info="Inventory status" />
			<Data name="21" type="string" minLength="0" maxLength="2" info="Modified version codes" />
			<Data name="22" type="string" minLength="0" maxLength="8" info="Original delivery note number" minOccurs="0" />
		</Segment>
		<Segment name="715" info="Packaging material data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version No.">
				<Rule>
					<Expression>
						<Constant value="03"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="22" info="Customer packaging type coded" />
			<Data name="04" type="string" minLength="0" maxLength="22" info="Supplier packaging type coded" />
			<Data name="05" type="decimal" minLength="0" maxLength="13" info="Number of packaging" />
			<Data name="06" type="decimal" minLength="0" maxLength="3" info="Delivery note item number" />
			<Data name="07" type="decimal" minLength="0" maxLength="13" implicitDecimals="3" info="Filling capacity" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="9" info="Package unit number FROM" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="9" info="Package unit number TO" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="12" info="Packaging dimensions" minOccurs="0" />
			<Data name="11" type="decimal" minLength="0" maxLength="1" info="Stacking factor" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="15" info="Warehouse delivery schedule number" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="1" info="Label indicator" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="1" info="Packaging code" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="1" info="Property code" minOccurs="0" />
			<Data name="16" type="string" minLength="0" maxLength="1" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="716" info="Text data">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="02"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="40" info="Text 1" />
			<Data name="04" type="string" minLength="0" maxLength="40" info="Text 2" minOccurs="0" />
			<Data name="05" type="string" minLength="0" maxLength="40" info="Text 3" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="3" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="717" info="Individual packaging data" />
		<Segment name="718" info="Production-numbers">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version no.">
				<Rule>
					<Expression>
						<Constant value="02"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="8" info="Delivery note number" />
			<Data name="04" type="string" minLength="0" maxLength="10" info="Production number 1" />
			<Data name="05" type="string" minLength="0" maxLength="10" info="Production number 2" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="10" info="Production number 3" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="10" info="Production number 4" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="10" info="Production number 5" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="10" info="Production number 6" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="10" info="Production number 7" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="10" info="Production number 8" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="10" info="Production number 9" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="10" info="Production number 10" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="10" info="Production number 11" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="5" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="719" info="Interchange trailer">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version number">
				<Rule>
					<Expression>
						<Constant value="02"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="7" info="Record type counter 711">
				<Rule>
					<Expression>
						<Count>
							<Reference name="711" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="decimal" minLength="0" maxLength="7" info="Record type counter 712">
				<Rule>
					<Expression>
						<Count>
							<Reference name="712" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Record type counter 713">
				<Rule>
					<Expression>
						<Count>
							<Reference name="713" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="06" type="decimal" minLength="0" maxLength="7" info="Record type counter 714">
				<Rule>
					<Expression>
						<Count>
							<Reference name="714" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="07" type="decimal" minLength="0" maxLength="7" info="Record type counter 715">
				<Rule>
					<Expression>
						<Count>
							<Reference name="715" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="08" type="decimal" minLength="0" maxLength="7" info="Record type counter 716">
				<Rule>
					<Expression>
						<Count>
							<Reference name="716" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="09" type="decimal" minLength="0" maxLength="7" info="Record type counter 717">
				<Rule>
					<Expression>
						<Count>
							<Reference name="717" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="10" type="decimal" minLength="0" maxLength="7" info="Record type counter 718">
				<Rule>
					<Expression>
						<Count>
							<Reference name="718" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="11" type="decimal" minLength="0" maxLength="7" info="Record type counter 719">
				<Rule>
					<Expression>
						<Count>
							<Reference name="719" nodeStarts="Message_4913"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="12" type="string" minLength="0" maxLength="60" info="Empty" maxOccurs="0" />
		</Segment>
	<Message>
		<MessageType>4913</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4913" minOccurs="1" maxOccurs="1">
			<Group name="SG_711" minOccurs="1">
				<Segment ref="711" minOccurs="1" />
				<Group name="SG_712" minOccurs="1">
					<Segment ref="712" minOccurs="1" />
					<Group name="SG_713" minOccurs="1" maxOccurs="unbounded">
						<Segment ref="713" minOccurs="1" />
						<Group name="SG_714" maxOccurs="unbounded">
							<Segment ref="714" minOccurs="1" />
							<Segment ref="716" />
							<Segment ref="715" minOccurs="1" maxOccurs="unbounded" />
						</Group>
					</Group>
				</Group>
			</Group>
			<Segment ref="719" minOccurs="1" />
		</Group>
	</Message>
</Config>