<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
	<Elements>
		<Segment name="661" info="Interchange Header">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Data Receiver Number" />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Data Transmitter Number" />
			<Data name="05" type="decimal" minLength="0" maxLength="5" info="Transmission Number Old" />
			<Data name="06" type="decimal" minLength="0" maxLength="5" info="Transmission Number New" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Transmission Date" />
			<Data name="08" type="string" minLength="0" maxLength="89" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="662" info="Vehicle Identity Information">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="1" info="Change Code" />
			<Data name="04" type="string" minLength="0" maxLength="10" info="Production Number" />
			<Data name="05" type="string" minLength="0" maxLength="12" info="Serial Number" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="3" info="Plant Customer" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="5" info="Point of Unloading" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="14" info="Using Point" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="7" info="Production Release Key" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="6" info="Production Release Date" minOccurs="0" />
			<Data name="11" type="decimal" minLength="0" maxLength="4" info="Production Release Time" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="1" info="Schedule Code" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="6" info="Call-Off Date" minOccurs="0" />
			<Data name="14" type="decimal" minLength="0" maxLength="4" info="Call-Off Time" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="12" info="Special Specification" minOccurs="0" />
			<Data name="16" type="string" minLength="0" maxLength="8" info="Type/Body Model" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="19" info="Vehicle Identification Number" minOccurs="0" />
			<Data name="18" type="decimal" minLength="0" maxLength="9" info="Amount of Units" minOccurs="0" />
			<Data name="19" type="string" minLength="0" maxLength="2" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="663" info="Process relevant information">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version No.">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="1" info="Marks" />
			<Data name="04" type="string" minLength="0" maxLength="35" info="Text 1" minOccurs="0" />
			<Data name="05" type="string" minLength="0" maxLength="35" info="Text 2" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="35" info="Text 3" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="17" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="664" info="Part Number Information">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version No.">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="22" info="Part Number Customer" />
			<Data name="04" type="string" minLength="0" maxLength="2" info="Unit of Quantity" />
			<Data name="05" type="decimal" minLength="0" maxLength="9" info="Call-Off Quantity" />
			<Data name="06" type="string" minLength="0" maxLength="5" info="Point of Unloading" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="14" info="Using Point" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="1" info="Schedule Code" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="6" info="Call-Off Date" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="4" info="Call-Off Time" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="14" info="Engineering Change" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="46" info="Empty" minOccurs="0" maxOccurs="0" />
		</Segment>
		<Segment name="669" info="Record Counter">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 661">
				<Rule>
					<Expression>
						<Count>
							<Reference name="661" nodeStarts="Message_4916"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 662">
				<Rule>
					<Expression>
						<Count>
							<Reference name="662" nodeStarts="Message_4916"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 663">
				<Rule>
					<Expression>
						<Count>
							<Reference name="663" nodeStarts="Message_4916"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="06" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 664">
				<Rule>
					<Expression>
						<Count>
							<Reference name="664" nodeStarts="Message_4916"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="07" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 669">
				<Rule>
					<Expression>
						<Count>
							<Reference name="669" nodeStarts="Message_4916"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="09" type="string" minLength="0" maxLength="88" info="Empty" maxOccurs="0" />
		</Segment>
	</Elements>
	<Message>
		<MessageType>4916</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4916" minOccurs="1" maxOccurs="1">
			<Group name="SG_661" minOccurs="1">
				<Segment ref="661" minOccurs="1" />
				<Segment ref="662" minOccurs="1" maxOccurs="unbounded" />
				<Group name="SG_663" maxOccurs="unbounded">
					<Segment ref="663" minOccurs="1" />
					<Group name="SG_664" maxOccurs="unbounded">
						<Segment ref="664" minOccurs="1" />
						<Segment ref="663" maxOccurs="unbounded" />
					</Group>
				</Group>
			</Group>
			<Segment ref="669" minOccurs="1" />
		</Group>
	</Message>
</Config>