<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig8.xsd" Version="8">
	<Meta>
		<Version>1</Version>
		<Release>1</Release>
		<Agency>VDA</Agency>
	</Meta>
	<Format standard="Fixed" />
	<Elements>
		<Segment name="751" info="Interchange Header">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Data Receiver Number" />
			<Data name="04" type="string" minLength="0" maxLength="9" info="Data Transmitter Number" />
			<Data name="05" type="decimal" minLength="0" maxLength="5" info="Transmission Number Old" />
			<Data name="06" type="decimal" minLength="0" maxLength="5" info="Transmission Number New" />
			<Data name="07" type="string" minLength="0" maxLength="6" info="Transfer Date" />
			<Data name="08" type="string" minLength="0" maxLength="89" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="752" info="Transport-Vehicle-Identification">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="2" info="Code Means of Transportation" />
			<Data name="04" type="string" minLength="0" maxLength="25" info="Number Means of Transportation" />
			<Data name="05" type="string" minLength="0" maxLength="17" info="Cargo Manifest Number" />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Cargo Manifest Date" />
			<Data name="07" type="decimal" minLength="0" maxLength="1" info="Cargo Manifest Correction Code" />
			<Data name="08" type="string" minLength="0" maxLength="8" info="Special Tour No." minOccurs="0" />
			<Data name="09" type="decimal" minLength="0" maxLength="6" info="Volumetric Capacity Shipment" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="12" info="Loading Meters Shipment" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="46" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="753" info="Transport-Information">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="6" info="Transport Unit Date" minOccurs="0" />
			<Data name="04" type="string" minLength="0" maxLength="4" info="Transport Unit Time" minOccurs="0" />
			<Data name="05" type="string" minLength="0" maxLength="35" info="Transport Unit Location" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Arrival Date-Plan" minOccurs="0" />
			<Data name="07" type="decimal" minLength="0" maxLength="4" info="Arrival Time-Plan" minOccurs="0" />
			<Data name="08" type="decimal" minLength="0" maxLength="1" info="Information Correction Code" />
			<Data name="09" type="string" minLength="0" maxLength="67" info="Text" minOccurs="0" />
		</Segment>
		<Segment name="754" info="Carrier Supplementation">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="string" minLength="0" maxLength="9" info="Supplier Number" />
			<Data name="04" type="decimal" minLength="0" maxLength="8" info="Shipping Load Reference Number" />
			<Data name="05" type="string" minLength="0" maxLength="17" info="Forwarding Instruction Number" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="6" info="Forwarder Registration Date" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="1" info="Shipment Code" minOccurs="0" />
			<Data name="08" type="decimal" minLength="0" maxLength="7" info="Shipment Weight, Gross" minOccurs="0" />
			<Data name="09" type="decimal" minLength="0" maxLength="7" info="Shipment Weight, Net" minOccurs="0" />
			<Data name="10" type="decimal" minLength="0" maxLength="4" info="Number Packing Units" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="5" info="Point of Unloading" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="3" info="Supplier Plant" />
			<Data name="13" type="string" minLength="0" maxLength="3" info="Customer Plant" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="53" info="Empty" maxOccurs="0" />
		</Segment>
		<Segment name="755" info="Despatch-Note List">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="string" minLength="0" maxLength="8" info="Delivery Note Number" />
			<Data name="05" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="06" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="07" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="08" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="09" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="10" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="11" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="12" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="13" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="14" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="15" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="16" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="17" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="18" type="string" minLength="0" maxLength="8" info="Delivery Note Number" minOccurs="0" />
			<Data name="19" type="string" minLength="0" maxLength="3" info="Empty" minOccurs="0" maxOccurs="0" />
		</Segment>
		<Segment name="759" info="Interchange Trailer">
			<Data name="02" type="decimal" minLength="0" maxLength="2" info="Version">
				<Rule>
					<Expression>
						<Constant value="01"/>
					</Expression>
				</Rule>
			</Data>
			<Data name="03" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 751">
				<Rule>
					<Expression>
						<Count>
							<Reference name="751" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="04" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 752">
				<Rule>
					<Expression>
						<Count>
							<Reference name="752" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="05" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 753">
				<Rule>
					<Expression>
						<Count>
							<Reference name="753" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="06" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 754">
				<Rule>
					<Expression>
						<Count>
							<Reference name="754" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="07" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 755">
				<Rule>
					<Expression>
						<Count>
							<Reference name="755" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="08" type="decimal" minLength="0" maxLength="7" info="Counter Record Type 759">
				<Rule>
					<Expression>
						<Count>
							<Reference name="759" nodeStarts="Message_4921"/>
						</Count>
					</Expression>
				</Rule>
			</Data>
			<Data name="09" type="string" minLength="0" maxLength="81" info="Empty" maxOccurs="0" />
		</Segment>
	</Elements>
	<Message>
		<MessageType>4921</MessageType>
		<Completion singleConditions="1" singleValues="1" />
		<Group name="Message_4921" minOccurs="1" maxOccurs="1">
			<Group name="SG_751" minOccurs="1">
				<Segment ref="751" minOccurs="1" />
				<Segment ref="752" minOccurs="1" />
				<Group name="SG_753" minOccurs="1" maxOccurs="unbounded">
					<Segment ref="753" minOccurs="1" />
					<Group name="SG_754" minOccurs="1" maxOccurs="unbounded">
						<Segment ref="754" minOccurs="1" />
						<Segment ref="755" minOccurs="1" maxOccurs="unbounded" />
					</Group>
				</Group>
			</Group>
			<Segment ref="759" minOccurs="1" />
		</Group>
	</Message>
</Config>